spring:
  application:
    name: online-task-tracker

  datasource:
    url: jdbc:postgresql://localhost:5432/task_tracker_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  thymeleaf:
    cache: false

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: WARN


server:
  port: 8080
  error:
    include-message: always
  servlet:
    session:
      timeout: 15m
